.git
.github
.idea
.agents
.turbo
.trigger
node_modules
**/node_modules
**/.next
**/dist
.env
.env.*
!.env.example
!.env.production.example
npm-debug.log*
pnpm-debug.log*
apps/web
docs
scripts
trigger
fly*.toml
public
